table {
    border-collapse: collapse;
    margin: 0 auto;
}

th,td {
    border: 1px solid black;
    padding: 10px;
}

thead tr:first-child th {
    background: black;
    color: white;
}

thead tr:nth-child(2) th {
    background: #444;
    color: white;
}

tbody tr:nth-child(2n) {
    background: #eee;
}