body {
    width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #053b6d;
    padding: 0;
    font-size: larger;
    color: white;
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: -16px;
}

.navigator ul {
    padding: 10px;
    list-style: none;
    display: flex;
    background-color: grey;
}

.navigator a {
    font-weight: 700;
    display: block;
    color: #eee;
    text-decoration: none;
    text-align: center;
}

.navigator li {
    flex: 1 1 auto;
}

h1 {
    text-align: center;
}


img {
    width: 200px;
    margin-top: 10px;
    ;
}


.card {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 500px;


}

h2,
h3 {
    grid-column: 1 / span 2;
    text-align: center;
    padding: 10px 0;
}

h2 {
    text-align: center;
    background-color: #053b6d;
    color: white;
    padding: 10px;
    margin: 0;
}

h3 {
    text-align: center;
    border-bottom: 1px solid black;
    width: 250px;
    margin: 1rem auto;

}

section {
    border-radius: 1px;
    border: 1px solid black;
    border-radius: 5px;
}

main h1 {
    grid-column: 1 / span 2;
    text-align: center;
    margin-bottom: 20px;
}

figcaption {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    align-items: start;
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
}

footer {
    background-color: #053b6d;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    color: white;
}

.navigator a:hover {
    color: #ffcc00;
    text-decoration: underline;
    transition: 0.3s;
}