*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form {
    border: 1px solid #d1cbd4;;
    padding: .5rem;
    border-radius: 6px;
    background-color: #eee;
}

header {
    background-color: #800080;
    color: white;
    padding: 20px;
    text-align: center;
}

.review-form label  {
    display: block;
    margin-top: 15px;
}


.review-form input[type="text"],
.review-form input[type="date"],
.review-form select {
    width: 100%;
    padding: .75rem;
    margin-bottom: .75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 400px;
    background-color: white;
    gap: 10px;
}

.rating-container {
    display: flex;
    gap: 25px;
    margin-top: 1rem;
}

.rating-item {
    display: flex;
   flex-direction: column-reverse;
    align-items: center;
    font-size: .9rem;
}

div {margin-bottom: 5px;
}

.rating-box div{
    margin: -1px;
}


.review-form label input[type="checkbox"] {
    margin-right: .5rem;
}

.review-form input[type="checkbox"]+label {
    display: inline-block;
    margin: 5px;
}

.review-form input[type="submit"] {
    border: none;
    color: black;
    padding: .75rem;
    background-color: #999;
    margin-bottom: 1rem;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    margin-left: 0;
    display: block;
}



footer {
    background-color: #800080;
    color: white;
    padding: 20px;
    text-align: center;
}



@media screen and (max-width: 400px) {header {
        background-color: black;
        color: white;
        padding: 20px;
        text-align: center;
    }

        footer {
            background-color: black;
            color: white;
            padding: 20px;
            text-align: center;
        }
}

