@media screen and (max-width: 500px) {

    :root {
            --primary-color: #006B54;
            --secondary-color: #3b015a;
            --divbackground-color: #f0f0f0;
            --text-color: #333;
        
        }

    body {
        width: 100%;
        margin: 0;
    }

    h1 {
        background-color: var(--text-color);
    }
    .data, .weather {
       position: static;
    }
    
    .weather h2::after {
        content: none;
    }

    .weather img { display: block;
        width: 70px;
        height: auto;
        margin: 0 auto;
        
    }

    .weather h2, .data h2 { text-align: center;
        background-color: transparent;
        color: var(--text-color);
        font-weight: bold;
    }

    .weather h2, .data h2 {
        color: black;
    }

    p {
        text-align: center;
    }

    
    footer {
    background-color: var(--text-color);

}
}